{% extends "base.html" %}


{% block content %}

    <div class="mdl-card mdl-shadow--2dp employer-form" action="#">
        <div class="mdl-card__title">
            <h2>Formulario {{ object.nombre }}</h2>
            <div class="mdl-card__subtitle">Please complete the form</div>
        </div>

        <div class="mdl-card__supporting-text">
            <form action="#" class="form" method="get">
                <div class="form__article">
                    <h3>Dato Personal</h3>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="company_email"
                                   value="{{ request.GET.documento }}" name="documento"/>
                            <label class="mdl-textfield__label" for="company_email">Número de Documento</label>
                        </div>
                    </div>
                </div>

                <div class="form__action">

                    <button type="submit" id="submit_button"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Validar
                    </button>
                </div>
            </form>
        </div>
    </div>


    {% if pago %}
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-card mdl-shadow--2dp line-chart">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Validación exitosa</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <ul>
                        <li><strong>Persona:</strong>{{ pago.person_name }}</li>
                        <li><strong>Transacción: </strong>{{ pago.number_transaction }}</li>
                        <li><strong>Detalle de deposito:</strong>{{ pago.institution_name }}</li>
                    </ul>

                </div>
            </div>
        </div>
    {% else %}
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-card mdl-shadow--2dp line-chart">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Validación Errada</h2>
                </div>
                <div class="mdl-card__supporting-text">
                   <p>No se encontro pago alguno</p>
                </div>
            </div>
        </div>
    {% endif %}




{% endblock content %}
