{% extends "base.html" %}


{% block content %}

    <div class="mdl-card mdl-shadow--2dp employer-form" action="#">
        <div class="mdl-card__title">
            <h2>Formulario {{ object.nombre }}</h2>
            <div class="mdl-card__subtitle">Please complete the form</div>
        </div>

        <div class="mdl-card__supporting-text">
            <form action="#" class="form" method="get">
                <div class="form__article">
                    <h3>Dato Personal</h3>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="company_email"
                                   value="{{ request.GET.documento }}" name="documento"/>
                            <label class="mdl-textfield__label" for="company_email">Número de Documento</label>
                        </div>
                    </div>
                </div>

                <div class="form__action">

                    <button id="submit_button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Validar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card mdl-shadow--2dp line-chart">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">How to use</h2>
            </div>
            <div class="mdl-card__supporting-text">
                To use colors above for the element, you need to use Sass variable naming as the corresponding color in
                lowercase with prefix "color-".
                If the color name is composed of more than one word, the words are separated by a dash "-".<br>
                <i>Example: You want to use color naming "Light blue". Sass variable for this color is <b>$color-light-blue</b></i>
            </div>
        </div>
    </div>



{% endblock content %}
