{% extends "base.html" %}



{% block content %}
    <div class="mdl-grid ui-cards">
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
            <h3>Eventos</h3>
        </div>

        {% for evento in eventos %}
            <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">{{ evento.nombre }}</h2>
                    </div>
                    <div class="mdl-card__supporting-text">

                        {{ evento.descripcion }}

                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button color-text--light-blue mdl-js-button mdl-js-ripple-effect"
                           href="https://www.google.by/maps/place/Tokyo,+Japan/@35.6730185,139.4302008,10z/data=!3m1!4b1!4m5!3m4!1s0x605d1b87f02e57e7:0x2e01618b22571b89!8m2!3d35.6894875!4d139.6917064"
                           target="_blank">
                            Registrar
                        </a>
                    </div>
                </div>

            </div>
        {% endfor %}

        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">

        </div>
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">

        </div>
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">

        </div>
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">

        </div>
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">

        </div>
    </div>
{% endblock content %}
